__pycache__
/**/__pycache__
model
data
.DS_Store
.env
.venv
database/*.db
database/database.db
database/database_backup.db

state_of_the_union.txt
test_lang.ipynb
test.html
test.pdf
.ipynb_checkpoints
.cache

# Docker
docker-compose.yml
Dockerfile

OAI_CONFIG_LIST
docai_data_analysis